/* 1 estilo clase equipo*/

/* 1.1 estilo ocntenedor integrantes*/
.equipo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.encabezado{

    font-family: 'Bitter', serif;
    font-weight: bold;
    font-size: 3rem;
    border-bottom: 2px solid rgba(29,1,1,1);
    padding: 1rem;
}

/* 1.2 estilo individual por carta integrantes*/

.container_equipo{
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;

}
.integrante{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33% - 5px);
}
.integrante:hover img{
    width: 11rem;
}
.integrante >img{
    width: 10rem;
    border-radius: 100%;
    border: 3px solid rgba(29,1,1,1);
    margin-top: 1rem;

}
.info_integrante{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bitter', serif;
    padding: 1rem;
    width: 70%;
}
.info_integrante >h5{
    font-weight: bold;
}

/* 2 estilo clase histoia*/

.historia{
    display: flex;
    align-items: center;
    flex-direction: column;
}





