.container_biblioteca{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_biblioteca img{
    width: 10rem;
    padding: 2rem;
}
.container_biblioteca img:hover{
    width: 11rem;
}