/* Estilos CSS para el menú desplegable */

.container_titulo{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-bottom: 2rem;

}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h2{
    font-family: 'Bitter', serif;
    font-size: 5rem;
    font-weight: bold;
    margin: 0;

}

header div h3{
    margin: 0;
    font-weight: bold;
}
nav{
    width: 100%;

    justify-content: center;
    text-align: center;
    background-color: rgba(29,2,2,1);
    color: white;
    padding: 1rem;

}
ul {
    padding: 0 2rem 0 2rem;

}

li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    padding-top: 0;
}
li a{
    text-decoration: none;
    color: white;
}
li:hover {
  border-top: 5px solid white;
  transition-duration: 0.2s;
}

/* hace referencia a la segunda lista*/
li:hover ul {
    display: block;
    background-color: rgba(29,2,2,1);
    color: white;
    align-items: center;
    padding: 1rem;

}

ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

ul ul li {
    display: block;
}


li a:visited {
    text-decoration: none;
    color: white;

}
