/* Estilos CSS para el menú desplegable */

.container_titulo{

    display: flex;

}
.container_titulo img{
    height: 200px;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h2{
    font-family: 'Bitter', serif;
    font-size: 5rem;
    font-weight: bold;
    margin: 0;

}

header div h3{
    margin: 0;
    font-weight: bold;
}
header nav{
    width: 98%;
    justify-content: center;
    text-align: center;
    background-color: rgba(29,2,2,1);
    color: white;
    padding: 1rem;

}


header ul {
    padding: 0 2rem 0 2rem;

}

header li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    padding-top: 0;
}
header li a{
    text-decoration: none;
    color: white;
}
header li:hover {
  border-top: 5px solid white;
  transition-duration: 0.2s;
}

/* hace referencia a la segunda lista*/
header li:hover ul {
    display: block;
    background-color: rgba(29,2,2,1);
    color: white;
    align-items: center;
    padding: 1rem;
    z-index: 100;

}

header ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

header ul ul li {
    display: block;
}


header li a:visited {
    text-decoration: none;
    color: white;
}
