/* 1 section image*/
.container_section_imagen{
    text-align: center;
    display: flex;
    padding-bottom: 1rem;
    padding-right: 2rem;
}
.container_section_imagen > img {
    width: 60%;
    text-align: center;

}
.container_texto{

    font-family: 'Bitter', serif;
    font-size: 2rem;
    display: flex;
    width: 30rem ;
    text-align: center;
    align-items: center;
    padding-right: 2rem;
}

/* 2 seccion de destacados*/
/* 2.1 seccion texto de destacados*/
.container_section_destacados{
    text-align: center;

}
.container_section_destacados h2{
    font-family: 'Bitter', serif;
    font-size: 3rem;
    padding: 3rem;
}
/* 2.2 seccion cartas*/
.cartas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.carta_indi > img{
    width: 50%;
    height: 200px;
    border-radius: 1rem;
    padding-right: 1rem;
}

.carta_indi{
    display: flex;
    padding-bottom: 1rem;
}
